@font-face {
  font-family: SourceSansPro;
  src: url(SourceSansPro-Regular.ttf);
}
body{
  margin: 0;
  padding: 0;
  background: url(indexbackground.jpg);
  background-size: cover;
  background-position: bottom;
  font-family: sans-serif;
}

.form_input input[type="submit"]
{
  border: none;
  outline: none;
  height: 80px;
  background: #008000;
  color: #fff;
  font-size: 60px;
  border-radius: 20px;
}

.form_input input[type="submit"]:hover{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}